.menu { /*상단에 있는 메뉴 바 입니다*/
    display: flex; /*정렬(가로가 디폴트)*/
    justify-content: flex-end; /*안에 요소들 뒤에 붙이는 거*/
    gap: 25px; /*요소들 사이 간격 주기*/
    background-color: #ffffff;
    padding-right: 80px; /* 안에 요소만 띄움 참고로 마진은 요소 바깥여백에 적용되는 거임 */
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid #ddd; /* 아래쪽 테두리 넣은겨*/
    position: sticky; /* 스크롤 내려오면 붙는겅 */
    top: 0;           /* 화면 상단에!! */
    z-index: 1000; /* 다른 요소들 위에 오게 함ㅋ */
}

.logo { 
    margin-right: auto; /* 이후 요소 전부 오른쪽으로 밀어냄 */
    padding-left: 30px; /* 안에 요소만 띄움 참고로 마진은 요소 바깥여백에 적용되는 거임 */
}

.logo img {
    height: 52px;
}

.menu_item { /*메뉴 바 안에 요소들*/
    font-size: 35px;
    color: #a3a3a3;

    cursor: pointer; /* 마우스 올리면 손가락 모양 */
    transition: color 0.25s ease; /* 색 변화 부드럽게 */

    text-decoration: none; /* 밑줄 제거 */
}

.menu_item:hover {
    color: #000000; /* 호버 시 검정색 */
}

.menu_split { /*요소 사이 분할*/
    font-size: 33px;
    font-weight: 200;
    color: #8c8c8c;
}

.wrap { 
    padding: 16px; 
    margin-top: 120px; /* 메뉴바랑 계산기 사이 공간 */
}

.keys{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.keys button{ height: 56px; font-size: 20px; }
.wide{ grid-column: span 2; }

.main_about {
    display: flex; /*정렬(가로가 디폴트)*/
    flex-direction: column; /* 정렬 세로로 쌓아라 */
    justify-content: center;     /* 가로 중앙 정렬 */
    align-items: center;         /* 세로 중앙 정렬 */
    background-color: #f5f5f7;

    padding-bottom: 30px; /* 안에 요소만 띄움 참고로 마진은 요소 바깥여백에 적용되는 거임 */
    padding-top: 30px; /* 안에 요소만 띄움 참고로 마진은 요소 바깥여백에 적용되는 거임 */
}

.main_about_item {
    color: #666666;
}