.menu { /*상단에 있는 메뉴 바 입니다*/
    display: flex; /*정렬(가로가 디폴트)*/
    justify-content: flex-end; /*안에 요소들 뒤에 붙이는 거*/
    gap: 25px; /*요소들 사이 간격 주기*/
    background-color: #ffffff;
    padding-right: 80px; /* 안에 요소만 띄움 참고로 마진은 요소 바깥여백에 적용되는 거임 */
    padding-bottom: 30px;
    padding-top: 30px;
    border-bottom: 1px solid #ddd; /* 아래쪽 테두리 넣은겨*/
    position: sticky; /* 스크롤 내려오면 붙는겅 */
    top: 0;           /* 화면 상단에!! */
    z-index: 1000; /* 다른 요소들 위에 오게 함ㅋ */
}

.logo { 
    margin-right: auto; /* 이후 요소 전부 오른쪽으로 밀어냄 */
    padding-left: 30px; /* 안에 요소만 띄움 참고로 마진은 요소 바깥여백에 적용되는 거임 */
}

.logo img {
    height: 52px;
}

.menu_item { /*메뉴 바 안에 요소들*/
    font-size: 35px;
    color: #a3a3a3;

    cursor: pointer; /* 마우스 올리면 손가락 모양 */
    transition: color 0.25s ease; /* 색 변화 부드럽게 */

    text-decoration: none; /* 밑줄 제거 */
}

.menu_item:hover {
    color: #000000; /* 호버 시 검정색 */
}

.menu_split { /*요소 사이 분할*/
    font-size: 33px;
    font-weight: 200;
    color: #8c8c8c;
}

.profile_container {
    display: flex; /*정렬(가로가 디폴트)*/
    justify-content: space-between; /* 양쪽 끝으로 벌리기 */
}

.profile_img {
    display: flex;
    flex-direction: column; /*   세로로 쌓아라 */
    background-color: #f0f0f0; /*왼쪽디브바탕색ㅇㅇㅇㅇㅇ*/
    width: 50%;                  /* 왼쪽 절반 */

    
}

.profile_img1 {
    
}



.profile_img1 img {
    width: 337.5px;     /* 부모 div 대비 45% 너비 (수정) */
    height: 450px;   /* 비율 유지 (수정)*/
    display: block; /* 아래 여백 없애기 */
    margin: 50px auto; /* 위아래 간격 + 가운데 정렬 */
}

.profile_img2 img {
    width: 337.5px;     /* 부모 div 대비 45% 너비 (수정) */
    height: 450px;   /* 비율 유지 (수정)*/
    display: block; /* 아래 여백 없애기 */
    margin: 50px auto; /* 위아래 간격 + 가운데 정렬 */
}

.profile_info {
    flex: 1;                /* 공간 꽉 채움 */
    display: flex;
    flex-direction: column; /*   세로로 쌓아라 */ 

    
    /*justify-content: center; /* 가로 중앙 */
    align-items: center;     /* 세로 중앙 */
    
}

.profile_info_hello {
    display: flex; /*정렬(가로가 디폴트)*/
    flex-direction: column; /*요소들 위아래로 배치하는거*/
    margin: 200px auto; /* 위아래 간격 + 가운데 정렬 */
    line-height: 1.7; /*텍스트 라인 간 간격*/

}

.profile_info_hello_hello {
    font-size: 200%;
    color: #4c604f;
    font-weight: 600;
}

.info_hr1 {
  width: 70%;
  height: 1px;
  background-color: #aaaaaa;
  border: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

.profile_info_life {

}

.profile_info_life1 {
    text-align: center; /*텍스트 중앙 정렬!*/
    font-size: 300%;
    color: #28273d;
    font-weight: 600;
    margin-top: 73px;
}

.profile_info_life2 {
    text-align: center; /*텍스트 중앙 정렬!*/
    margin-top: 0px;
    margin-bottom: 73px;

    line-height: 3; /*텍스트 라인 간 간격*/
}

.profile_info_animation {
    margin: 160px auto;
}

.profile_info_animation1 {
    font-size: 300%;
    color: #28273d;
    font-weight: 600;
}

.profile_info_animation2 {
    display: flex; /*정렬(가로가 디폴트)*/
    gap: 40px; /* 두 div 사이 간격 */
}

.profile_info_animation2_title {
    line-height: 1.7; /*텍스트 라인 간 간격*/
    font-weight: 700;
}

.profile_info_animation2_explain {
    line-height: 1.7; /*텍스트 라인 간 간격*/
}

.profile_info_interest {
    margin-top: 170px;
    margin-bottom: 170px;
}

.profile_info_interest1 {
    font-size: 300%;
    color: #007e9b;
    font-weight: 600;
}

.profile_info_interest2 {
    line-height: 1.7; /*텍스트 라인 간 간격*/
}

.profile_info_food {
    margin-top: 46px;
    margin-bottom: 46px;
}

.profile_info_food1 {
    font-size: 300%;
    color: #28273d;
    font-weight: 600;
}

.profile_info_food2 {
    line-height: 1.7; /*텍스트 라인 간 간격*/
}

.profile_info_music {
    margin-top: 137px;
    margin-bottom: 137px;
}

.profile_info_music1 {
    font-size: 300%;
    color: #28273d;
    font-weight: 600;
}

.profile_info_music2 {
    line-height: 1.7; /*텍스트 라인 간 간격*/
}

.profile_info_music2_1 {
    background-color: #ffe77b;
}

.profile_info_learn {
    margin-top: 110px;
    margin-bottom: 110px;
}

.profile_info_learn1 {
    font-size: 300%;
    color: #007e9b;
    font-weight: 600;
}

.profile_info_learn2 {
    line-height: 1.7; /*텍스트 라인 간 간격*/
}

/**********************여기는 왼쪽 디브 액션 적용입니다**************/

.profile_img2 {
    opacity: 0;          /* 처음에 안 보이게 */
    transform: translateY(50px);  /* 약간 아래로 이동 */
    transition: all 1s ease-out; /* 등장할 때 애니메이션 */
}

.profile_img2.active { /*이 부분은 js와 관련 있는 부분이다*/
    opacity: 1;           /* 보이게 */
    transform: translateY(0); /* 원위치 */
}

/***********************여기서부터는 액션이나 뭐 그런 거에 관련된 부분만 따로 모아놓았다***********참고로 여긴 오른쪽 부분(글자(설명)) 해당임**********/
.info_hr1 {
    opacity: 0;          /* 처음에 안 보이게 */
    transform: translateY(50px);  /* 약간 아래로 이동 */
    transition: all 1s ease-out; /* 등장할 때 애니메이션 */
}

.info_hr1.active { /*이 부분은 js와 관련 있는 부분이다*/
    opacity: 1;           /* 보이게 */
    transform: translateY(0); /* 원위치 */
}

.profile_info_life {
    opacity: 0;          /* 처음에 안 보이게 */
    transform: translateY(50px);  /* 약간 아래로 이동 */
    transition: all 1s ease-out; /* 등장할 때 애니메이션 */
}

.profile_info_life.active { /*이 부분은 js와 관련 있는 부분이다*/
    opacity: 1;           /* 보이게 */
    transform: translateY(0); /* 원위치 */
}

.profile_info_animation {
    opacity: 0;          /* 처음에 안 보이게 */
    transform: translateY(50px);  /* 약간 아래로 이동 */
    transition: all 1s ease-out; /* 등장할 때 애니메이션 */
}

.profile_info_animation.active { /*이 부분은 js와 관련 있는 부분이다*/
    opacity: 1;           /* 보이게 */
    transform: translateY(0); /* 원위치 */
}

.profile_info_interest {
    opacity: 0;          /* 처음에 안 보이게 */
    transform: translateY(50px);  /* 약간 아래로 이동 */
    transition: all 1s ease-out; /* 등장할 때 애니메이션 */
}

.profile_info_interest.active { /*이 부분은 js와 관련 있는 부분이다*/
    opacity: 1;           /* 보이게 */
    transform: translateY(0); /* 원위치 */
}

.profile_info_food {
    opacity: 0;          /* 처음에 안 보이게 */
    transform: translateY(50px);  /* 약간 아래로 이동 */
    transition: all 1s ease-out; /* 등장할 때 애니메이션 */
}

.profile_info_food.active { /*이 부분은 js와 관련 있는 부분이다*/
    opacity: 1;           /* 보이게 */
    transform: translateY(0); /* 원위치 */
}

.profile_info_music {
    opacity: 0;          /* 처음에 안 보이게 */
    transform: translateY(50px);  /* 약간 아래로 이동 */
    transition: all 1s ease-out; /* 등장할 때 애니메이션 */
}

.profile_info_music.active { /*이 부분은 js와 관련 있는 부분이다*/
    opacity: 1;           /* 보이게 */
    transform: translateY(0); /* 원위치 */
}

.profile_info_learn {
    opacity: 0;          /* 처음에 안 보이게 */
    transform: translateY(50px);  /* 약간 아래로 이동 */
    transition: all 1s ease-out; /* 등장할 때 애니메이션 */
}

.profile_info_learn.active { /*이 부분은 js와 관련 있는 부분이다*/
    opacity: 1;           /* 보이게 */
    transform: translateY(0); /* 원위치 */
}

.main_about {
    display: flex; /*정렬(가로가 디폴트)*/
    flex-direction: column; /* 정렬 세로로 쌓아라 */
    justify-content: center;     /* 가로 중앙 정렬 */
    align-items: center;         /* 세로 중앙 정렬 */
    background-color: #f5f5f7;

    padding-bottom: 30px; /* 안에 요소만 띄움 참고로 마진은 요소 바깥여백에 적용되는 거임 */
    padding-top: 30px; /* 안에 요소만 띄움 참고로 마진은 요소 바깥여백에 적용되는 거임 */
}

.main_about_item {
    color: #666666;
}
